SWITCHBOT_TOKEN=xxxxxxxxxxxxxxxx
SWITCHBOT_SECRET=yyyyyyyyyyyyyyyy
INFLUX_URL=http://localhost:8086
INFLUX_BUCKET_OR_DB=home-sensors   # v2: bucket名, v3: DB名
INFLUX_TOKEN=zzzzzzzzzzzzzzzz
USE_V3_NATIVE=false                # v3でも互換APIで書くなら false
LOCATION_PREFIX=home-
REQUEST_TIMEOUT_S=10
