[Unit]
Description=Collect Raspberry Pi throttling metrics every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
